# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
venv/
env/
ENV/

# Django static / media
/staticfiles/
media/

# Env / secret files
.env

# Node / React
node_modules/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
